<h1><%= @game.name %></h1>
<table class="table">
  <tr>
    <% Game.attribute_names.each do |name| %>
      <% if show_hash[:titles][name] %>
        <th><%= show_hash[:titles][name] %></th>
      <% end %>
    <% end %>
  </tr>
  <tr>
    <% @game.attributes.each do |att, val| %>
      <% if show_hash[:titles][att] %>
        <% arr = show_hash[:commands][att] ? show_hash[:commands][att] : [att]%>
        <% if show_hash[:links][att] %>
          <td><a href="<%= self.send(show_hash[:links][att], val) %>"><%= arr.inject(@game, :send) %></a></td>
        <% else %>
          <td><%= arr.inject(@game, :send) %></td>
        <% end %>
      <% end %>
    <% end %>
  </tr>
</table>
<% if logged_in? %>
  <form class="form-vertical" action="/games/new" method="get">
      <input type="submit" name="new_game" value="Create New Game">
  </form>
<% end %>
